.wrapper {
  display: inline-flex;
  justify-content: flex-end;
  border: 10px solid #ff943d;
  transition: border-color .2s ease-in;
}
.wrapper:hover {
  border: 10px solid #ef6c00;
  transition: border-color .2s ease-in;
}

canvas {
  cursor: crosshair;
}

.row {
  margin: 5vh 0vw;
}
